<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao computWorld</h1>
  <p class="lead">Este é um blog simples feito em html e Node.js + express + MongoDB.</p>
  <hr class="my-4">
  <p>Aqui você sempre fica atualizado sobre o mundo da computação!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>

<hr>

<h2>Postagens recentes: </h2>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">        
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class ="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Categoria id: {{categoria.nome}}</small><br>
        <small>{{data}}</small>

        
    </div>

</div>
{{else}}
    <h5>Nehuma postagem foi criada :(</h5>

{{/each}}